<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>In Franchise</title>
    <style>
      p {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div
      id="content"
      style="
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <!-- <a href="/business">Business Meeting - البزنيس ميتنق</a>
      <a href="/exhibitors" style="margin-top: 60px">Exhibitors - العارضين</a> -->
      <!-- <a href="/visitors" style="margin-top: 60px">Visitors - الزوار</a> -->
      <a href="/people" style="margin-top: 60px">Visitors - الزوار</a>
    </div>
  </body>
</html>
